<ion-header>
  <ion-toolbar>
    <ion-title>Twhatever</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-item>
    <ion-label>Task Title</ion-label>
    <ion-input
      [(ngModel)]="taskTitle"
      placeholder="Enter Task Title"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Reminder Date</ion-label>
    <ion-datetime
      [(ngModel)]="taskReminder"
      displayFormat="MM/DD/YYYY HH:mm"
      (ionChange)="onDateChange($event)"
    ></ion-datetime>
  </ion-item>

  <ion-button expand="full" (click)="addTask()">Add Task</ion-button>
  <ion-button expand="full" (click)="testLocalNotification()"
    >Add notif</ion-button
  >
  <!-- Display task list, if available -->
  <ion-list>
    <ion-item>
      <ion-label>
        <!-- <h2>{{ task.title }}</h2>
        <p>Reminder: {{ task.reminder }}</p> -->
        hello
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
